<launch>
  <node name="mono2stereo" pkg="mono2stereo" type="m2s" output="screen" >
    <param name="image_topic" value="/bebop/image_raw" />
    <param name="odom_topic" value="/bebop/odom" />
    <param name="image_width" value="856" />
    <param name="image_height" value="480" />
    <param name="camera_info_url" value="file://$(find mono2stereo)/camera.yaml"/>
    <param name="camera_name" value="bebop_front"/>
  </node>
  <!-- Nodelet manager for point cloud pipeline -->
    <node pkg="nodelet" type="nodelet" args="manager" name="depth_transforms_manager" output="screen"/>

     <!-- Convert to point cloud -->
    <node pkg="nodelet" type="nodelet" name="cloudify"
    args="load depth_image_proc/point_cloud_xyzrgb depth_transforms_manager --no-bond">

        <!-- Input: Rectified depth image, registered to the RGB camera. -->
        <remap from="depth_registered/image_rect" to="/camera/depth_image"/> 
        <!-- Input: Rectified color image. -->
        <remap from="rgb/image_rect_color" to="/camera/left/image_raw"/> 
        <!-- Input: Camera calibration and metadata. --> 
        <remap from="rgb/camera_info" to="/camera/left/camera_info"/>
        <!-- Output: XYZRGB point cloud. -->
        <remap from="depth_registered/points" to="camera/points"/>
    </node>
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find mono2stereo)/launch/demo.rviz"/>
</launch>
